<head>
    <title>646-1 Projet Nax Mont-Noble</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
</head>

<body>
    <!-- Navbar -->
    <div class="w3-top">
        <div class="w3-bar w3-white w3-wide w3-padding w3-card">
            <a href="/" class="w3-bar-item w3-button"><b>646-1</b> Domaine skiable Nax Mont-Noble</a>
            <!-- Float links to the right. Hide them on small screens -->
            <div class="w3-right w3-hide-small">
                <a href="/skiDomain" class="w3-bar-item w3-button">Vue générale</a>
                <a href="/slopesForests" class="w3-bar-item w3-button">Domaine forestier</a>
                <a href="/chooseDifficulty" class="w3-bar-item w3-button">Experience</a>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <!-- Title -->
    <div class="w3-display-container w3-content w3-wide" style="max-width:1500px; padding-top:60px;">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Une expérience personalisée</h3>
        <p>Sélectionner votre niveau pour afficher les lieux accessibles !</p>
    </div>
    <div class="w3-row-padding" style="margin-left: 60px;">
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container" style="width: 350px;">
                <div class="w3-display-topleft w3-black w3-padding">Expérience</div>
                    <a href="/domainByDifficulty/1" class="difficultyLink">Débutant</a>
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container" style="width: 350px;">
                <div class="w3-display-topleft w3-black w3-padding">Expérience</div>
                    <a href="/domainByDifficulty/2" class="difficultyLink">Intermédiaire</a>
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container" style="width: 350px;">
                <div class="w3-display-topleft w3-black w3-padding">Expérience</div>
                    <a href="/domainByDifficulty/3" class="difficultyLink">Avancé</a>
            </div>
        </div>
    </div>


    <style>
        .difficultyLink {
            display: block !important;
            font-size: larger;
            padding: 12vh;
            border: solid 3px;
            border-radius: 2vh;
        }
    </style>