{% extends 'outerHtml.html'%}
{% block content %}
    {% load leaflet_tags %}
    <!-- Page content -->
    <!-- Title -->
    <div class="w3-display-container w3-content w3-wide" style="max-width:1500px;">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Une expérience personalisée</h3>
        <p>Sélectionner votre niveau pour afficher les lieux accessibles !</p>
    </div>
    <!-- Buttons -->
    <div class="w3-display-container w3-content w3-wide" style="max-width: 1564px;" id="chooseDifficultyButtons">
        <div class="w3-row-padding">
            <div class="w3-col l3 m6 w3-margin-bottom">
                <div class="w3-display-container" style="min-width: 250px; max-width: 350px;">
                    <div class="w3-display-topleft w3-black w3-padding">⭐</div>
                        <a href="/domainByDifficulty/1" class="difficultyLink">DÉBUTANT</a>
                </div>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom">
                <div class="w3-display-container" style="min-width: 250px; max-width: 350px;">
                    <div class="w3-display-topleft w3-black w3-padding">⭐⭐</div>
                        <a href="/domainByDifficulty/2" class="difficultyLink">INTERMÉDIAIRE</a>
                </div>
            </div>
            <div class="w3-col l3 m6 w3-margin-bottom">
                <div class="w3-display-container" style="min-width: 250px; max-width: 350px;">
                    <div class="w3-display-topleft w3-black w3-padding">⭐⭐⭐</div>
                        <a href="/domainByDifficulty/3" class="difficultyLink">AVANCÉ</a>
                </div>
            </div>
        </div>
    </div>

    <style>
        .difficultyLink {
            display: block !important;
            text-align: center;
            font-size: 1.5em;
            padding-top: 64px;
            padding-bottom: 64px;
            border: solid 3px;
            border-radius: 2vh;
        }
    </style>
{% endblock %}