{% extends 'outerHtml.html'%}
{% block content %}
{% load leaflet_tags %}
<!-- Page content -->
<!-- Title -->
<div class="w3-display-container w3-content w3-wide" style="max-width:1500px;">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16" id="slopeName">Votre expérience personnalisée à
        votre niveau</h3>
</div>
<!-- Map -->
<div class="w3-display-container w3-content w3-wide" style="max-width:1500px; height: 800px" id="slopeForests">
    <!-- Map Section -->
    {% leaflet_map "slopeForests" callback="main_map_init" %}
    <script type="text/javascript">

        // init map at a certain position and zoom
        function main_map_init(map, options) {
            map.setView([46.211657, 7.481341], 14);

            // context keys
            var urls = [
                "{{huts|escapejs }}",
                "{{skiSlopes|escapejs }}",
                "{{hotels|escapejs }}",
                "{{restaurants|escapejs }}",
            ]

            // polygons
            urls.forEach(function (url) {
                var shapes = JSON.parse(url);
                if (shapes.features.length > 0) {
                    var type = shapes.features[0].properties.type;
                    var geojsonLayer = L.geoJson(shapes, {
                        style: function (feature) {
                            switch (type) {
                                case "hotel":
                                    return { color: 'yellow' };
                                case "restaurant":
                                    return { color: 'orange' };
                                case "parking":
                                    return { color: 'purple' };
                                case "hut":
                                    return { color: 'brown' };
                                case "ski_slope":
                                    switch (feature.properties.difficulty) {
                                        case 1: return { color: 'green' };
                                        case 2:
                                        case 3: return { color: 'blue' };
                                        case 4: return { color: 'red' };
                                        case 5: return { color: 'black' };
                                    }
                            }
                        }, onEachFeature: onEachFeature,
                    }).addTo(map)
                }
            });

            var lineUrls = [
                "{{chairLifts|escapejs }}",
            ];

            lineUrls.forEach(function (url) {
                var shapes = JSON.parse(url);
                if (shapes.features.length > 0) {
                    L.geoJson(shapes, {
                        style: function (feature) {
                            return { color: 'red' }; // Modifier le style des lignes selon vos besoins
                        },
                        onEachFeature: onEachFeature,
                    }).addTo(map);
                };
            });

        } // main map init

        function onEachFeature(feature, layer) {
            if (feature.properties) {
                // Fill popup content
                var popupContent = "";
                for (var property in feature.properties) {
                    if (property != "type" && property != "altitude" && property != "available" && property != "protected" && property != "pk" && property != "obj_type") {
                        popupContent += property + ": " + feature.properties[property] + "<br>";
                    } else if (property === "altitude") {
                        popupContent += property + ": " + feature.properties[property] + " m" + "<br>";
                    } else if (property === "available" || property === "protected") {
                        // 1 = true, 0 = false
                        if (feature.properties[property] == 1) {
                            popupContent += property + ": yes" + "<br>";
                        } else if (feature.properties[property] == 0) {
                            popupContent += property + ": no" + "<br>";
                        }
                    }
                }
                // Restaurant book table
                if (feature.properties.type === "restaurant") {
                    popupContent += "<div style='border: solid 2px; border-radius: 2vh; padding: 1vh; margin-top: 1vh;'>" + 
                        "<label for='fname'> Name:</label> <input type='text' id='fname' name='fname'><br>" + 
                        "<label for='nbPeople'>People:</label> <input type='number' id='nbPeople' name='nbPeople'><br>" + 
                        "<label for='Hour'>Time:</label> <input type='time' id='Hour' name='Hour'><br>" +
                        "<br><button onclick='fireSweetAlert()'>Book a table</button></div>";
                }

                layer.bindPopup(popupContent);
            }
        }

        function fireSweetAlert() {
            Swal.fire(
                'Reservation placed !',
                'Enjoy the domain until then.',
                'success'
            )
        }
    </script>
</div>
{% endblock %}