{% extends 'outerHtml.html'%}
{% block content %}
    {% load leaflet_tags %}
    <!-- Welcome Section -->
    <div class="w3-container w3-padding-32" id="welcome">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Bienvenue</h3>
        <p class="w3-center">Bienvenue dans un domaine skiable à taille humaine et familiale, où vous pourrez profiter de skier ou snowboarder en famille, en plein 
            coeur du Valais et à 19 minutes de Sion.</p>
        <p class="w3-center"><strong>Le domaine skiable comprend plus de 35 km de pistes pour tous les niveaux.</strong></p>
        <p class="w3-center">La station est idéale pour les familles avec des tout-petits, tout comme aux skieurs et snowboarders confirmés, 
            que ce soit pour le ski de descente comme pour le ski de randonnée.</p>
        <p class="w3-center">Les amoureux de montagne trouveront tous leur bonheur, avec plusieurs installations disponibles.
            Vivez une expérience adaptée à vos besoin en vous rendant sur notre onglet <strong>"Experience"</strong>, où vous pourrez personnaliser votre journée 
            blanche en fonction de votre niveau. Découvrez, par piste, les services et installations à proximité sur notre onglet <strong>"Domaine forestier"</strong>. 
            Pour une vue globale de la station et des ses environs, rendez-vous sur notre onglet <strong>"Vue générale"</strong></p>
        <p class="w3-center">Nous vous souhaitons une belle découverte de notre domaine !</p>
        <p class="w3-center">Ouverture du domaine skiable dès 9h le matin.</p>
    </div>
    <!-- Place for an API -->
{% endblock %}
