{% load leaflet_tags %}
<head>
    <title>646-1 Projet Nax Mont-Noble - domaine skiable</title> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    {% leaflet_js %} {% leaflet_css %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>  
</head>
<body>
    <!-- Navbar -->
    <div class="w3-top">
        <div class="w3-bar w3-white w3-wide w3-padding w3-card">
            <a href="/" class="w3-bar-item w3-button"><b>646-1</b> Domaine skiable Nax Mont-Noble</a>
            <!-- Float links to the right. Hide them on small screens -->
            <div class="w3-right w3-hide-small">
                <a href="/skiDomain" class="w3-bar-item w3-button">Vue générale</a>
                <a href="/slopesForests" class="w3-bar-item w3-button">Domaine forestier</a>
                <a href="/chooseDifficulty" class="w3-bar-item w3-button">Experience</a>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <!-- Title -->
    <div class="w3-display-container w3-content w3-wide" style="max-width:1500px; padding-top:60px;">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Carte du domaine skiable</h3>
    </div>
    <!-- Map -->
    <div class="w3-display-container w3-content w3-wide" style="max-width:1500px; min-height: 600px;" id="skiDomain">
        <!-- Map Section -->
            {% leaflet_map "skiDomain" callback="main_map_init" %}
            <script type="text/javascript">
                // init map at a certain position and zoom
                function main_map_init(map, options) {
                    map.setView([46.211657, 7.481341], 14);
                    // add a marker
                    var marker = L.marker([46.2253113, 7.4622059]).addTo(map);
                    marker.bindPopup("Nax - Mont-Noble");

                    // polygons
                    var urls = [
                    "{% url 'skiSlopesjson' %}",
                    "{% url 'forestsjson' %}",
                    "{% url 'facilitiesjson' %}",
                    "{% url 'hotelsjson' %}",
                    "{% url 'restaurantsjson' %}",
                    "{% url 'parkingsjson' %}",
                    "{% url 'hutsjson' %}",
                    ];
                    
                    // for each url in urls, get the data and add it to the map in a different color
                    urls.forEach(function (url) {
                    $.getJSON(url, function (data) {
                        L.geoJson(data, {
                        style: function (feature) {
                            if (url == "{% url 'forestsjson' %}") {
                            return { color: 'green' };
                            } else if (url == "{% url 'facilitiesjson' %}") {
                            return { color: 'blue' };
                            } else if (url == "{% url 'hotelsjson' %}") {
                            return { color: 'yellow' };
                            } else if (url == "{% url 'restaurantsjson' %}") {
                            return { color: 'orange' };
                            } else if (url == "{% url 'parkingsjson' %}") {
                            return { color: 'purple' };
                            }else if (url == "{% url 'skiSlopesjson' %}") {
                            return { color: 'grey' };
                            } else if (url == "{% url 'hutsjson' %}") {
                            return { color: 'brown' };
                            }
                        },
                        onEachFeature: onEachFeature,
                        }).addTo(map);
                    });
                    });

                    var pointUrls = [
                    "{% url 'summitsjson' %}",
                    "{% url 'transportationjson' %}",
                    ];

                    // display different icons depending on the "type" of the summit point (pass or summit) same icon for all transportation
                    pointUrls.forEach(function (url) {
                    $.getJSON(url, function (data) {
                        L.geoJson(data, {                
                        pointToLayer: function (feature, latlng) {
                            if (url == "{% url 'summitsjson' %}") {
                                if (feature.properties.type == "summit") {
                                    return L.marker(latlng, {icon: L.icon({
                                    iconUrl: "https://cdn-icons-png.flaticon.com/512/1632/1632789.png",
                                    iconSize: [20, 20],
                                    iconAnchor: [10, 10],
                                    popupAnchor: [0, -10],
                                    })});
                                } else if (feature.properties.type == "pass") {
                                    return L.marker(latlng, {icon: L.icon({
                                    iconUrl: "https://img.favpng.com/20/17/5/mountain-pass-information-symbol-wikipedia-png-favpng-Te18Dnrx4um0pvizML3t0gQnM_t.jpg",
                                    iconSize: [20, 20],
                                    iconAnchor: [10, 10],
                                    popupAnchor: [0, -10],
                                    })});
                                }
                            }
                            if (url == "{% url 'transportationjson' %}") {
                                return L.marker(latlng, {icon: L.icon({
                                    iconUrl: "https://cdn-icons-png.flaticon.com/512/944/944551.png",
                                    iconSize: [20, 20],
                                    iconAnchor: [10, 10],
                                    popupAnchor: [0, -10],
                                    })});
                            }
                        },
                        onEachFeature: onEachFeature,
                        }).addTo(map);
                    });
                    });
                    
                    var lineUrls = [
                    "{% url 'chairLiftsjson' %}",
                    ];

                    lineUrls.forEach(function (url) {
                    $.getJSON(url, function (data) {
                        L.geoJson(data, {
                        style: function (feature) {
                            return { color: 'red' }; // Modifier le style des lignes selon vos besoins
                        },
                        onEachFeature: onEachFeature,
                        }).addTo(map);
                    });
                    });

                    // function onEachFeature : add a popup with all the properties except type, sub-type and geometry.
                    function onEachFeature(feature, layer) {
                        if (feature.properties) {
                            var popupContent = "";
                            for (var property in feature.properties) {
                                if (property != "type" && property != "altitude" && property != "available" && property != "protected" && property != "pk") {
                                    popupContent += property + ": " + feature.properties[property] + "<br>";
                                } else if (property === "altitude") {
                                    popupContent += property + ": " + feature.properties[property] + " m" + "<br>";
                                } else if (property === "available" || property === "protected") {
                                    // 1 = true, 0 = false
                                    if (feature.properties[property] == 1) {
                                        popupContent += property + ": yes" + "<br>";
                                    } else if (feature.properties[property] == 0) {
                                        popupContent += property + ": no" + "<br>";
                                    }
                                }
                            }
                            layer.bindPopup(popupContent);
                        }
                    }
                }
            </script>
        </div>
    </div>
</body>