{% extends 'outerHtml.html'%}
{% block content %}
    {% load leaflet_tags %}
    <!-- Page content -->
    <!-- Title -->
    <div class="w3-display-container w3-content w3-wide" style="max-width:1500px; padding-top:60px;">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Les pistes et leur services</h3>
        <p>Sélectionner une piste pour afficher ses services environnants !</p>
    </div>
    <!-- Map -->
    <div class="w3-display-container w3-content w3-wide" style="max-width:1500px; min-height: 600px;" id="slopesServices">
        <!-- Map Section -->
        {% leaflet_map "slopesServices" callback="main_map_init" %}
        <script type="text/javascript">
            // init map at a certain position and zoom
            function main_map_init(map, options) {
                map.setView([46.211657, 7.481341], 14);
                // display all slopes
                $.getJSON("{% url 'skiSlopesjson' %}", function (data) {
                    L.geoJson(data, {style: function (feature) {return { color: 'grey' };},
                            onEachFeature: onEachFeature,}).addTo(map);})
                function onEachFeature(feature, layer) {
                    if (feature.properties) {
                        layer.bindPopup(feature.properties.name);
                        layer.on('click', () => {window.location.href = '/slopeServices/' + feature.properties.pk;})
                    }}
            }
        </script>
    </div>
{% endblock %}