{% extends 'outerHtml.html'%}
{% block content %}
    {% load leaflet_tags %}
    <!-- Page content -->
    <!-- Title -->
    <div class="w3-display-container w3-content w3-wide" style="max-width:1500px; padding-top:60px;">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16" id="slopeName"></h3>
    </div>
    <!-- Map -->
    <div class="w3-display-container w3-content w3-wide" style="max-width:1500px; min-height: 600px;" id="slopeForests">
        <!-- Map Section -->
        {% leaflet_map "slopeForests" callback="main_map_init" %}
        <script type="text/javascript">

            // init map at a certain position and zoom
            function main_map_init(map, options) {
                map.setView([46.211657, 7.481341], 14);

                // load forests context and parse it as json
                var neighborForests = JSON.parse("{{ neighborForests|escapejs }}");
                L.geoJson(neighborForests, {
                    style: function (feature) {
                        return { color: 'green' };
                    }, onEachFeature: onEachFeature
                }).addTo(map);

                // load slope context and parse it as json
                var skiSlope = JSON.parse("{{ skiSlope|escapejs }}");
                L.geoJson(skiSlope, {
                    style: function (feature) {return { color: 'grey' };}
                    , onEachFeature: onEachFeature
                }).addTo(map);
                
                // Set page title
                document.getElementById("slopeName").textContent = skiSlope.features[0].properties.name
                + " et ses " + neighborForests.features.length + " forêts"
            }

            function onEachFeature(feature, layer) {
                if (feature.properties) {
                    layer.bindPopup(feature.properties.name);
                }
            }
        </script>
    </div>
{% endblock %}