{% extends 'outerHtml.html'%}
{% block content %}
    {% load leaflet_tags %}
    <!-- Page content -->
    <!-- Title -->
    <div class="w3-display-container w3-content w3-wide" style="max-width:1500px;">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Les pistes dans leur domaine forestier</h3>
        <p>Sélectionner une piste pour afficher ses forêts voisines !</p>
    </div>
    <!-- Map -->
    <div class="w3-display-container w3-content w3-wide" style="max-width:1500px; min-height: 600px;" id="slopeForests">
        <!-- Map Section -->
        {% leaflet_map "slopeForests" callback="main_map_init" %}
        <script type="text/javascript">
            // init map at a certain position and zoom
            function main_map_init(map, options) {
                map.setView([46.211657, 7.481341], 14);
                // display all slopes
                $.getJSON("{% url 'skiSlopesjson' %}", function (data) {
                    L.geoJson(data, {
                        style: function (feature) { return { color: 'grey' }; },
                        onEachFeature: onEachFeature,
                    }).addTo(map);
                })

                // display chair lifts
                var lineUrls = ["{% url 'chairLiftsjson' %}",];
                lineUrls.forEach(function (url) {
                    $.getJSON(url, function (data) {
                        L.geoJson(data, {
                            style: function (feature) {
                                return { color: 'red' }; // Modifier le style des lignes selon vos besoins
                            },
                            onEachFeature: onEachFeature,
                        }).addTo(map);
                    });
                });

                function onEachFeature(feature, layer) {
                    if (feature.properties) {
                        layer.bindPopup(feature.properties.name);
                        if (feature.properties.type == "ski_slope")
                            layer.on('click', () => { window.location.href = '/slopeForests/' + feature.properties.pk; })
                        else{
                            alert('JHAHAHAA') // ton alerte se lance à chaque fois qu'on affiche la page... et ça bloque tout ;-)
                            layer.on('click', () => { window.location.href = '/chairLiftForests/' + feature.properties.pk; })
                        }
                    }
                }
            }
        </script>
    </div>
{% endblock %}