{% load leaflet_tags %}
<head>
    <title>646-1 Projet Nax Mont-Noble</title> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    {% leaflet_js %} {% leaflet_css %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>  
</head>
<body>
    <!-- Navbar -->
    <div class="w3-top">
        <div class="w3-bar w3-white w3-wide w3-padding w3-card">
            <a href="/" class="w3-bar-item w3-button"><b>646-1</b> Domaine skiable Nax Mont-Noble</a>
            <!-- Float links to the right. Hide them on small screens -->
            <div class="w3-right w3-hide-small">
                <a href="/skiDomain" class="w3-bar-item w3-button">Vue générale</a>
                <a href="/slopesForests" class="w3-bar-item w3-button">Domaine forestier</a>
                <a href="#foodndrinks" class="w3-bar-item w3-button">Restauration</a>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <!-- Title -->
    <div class="w3-display-container w3-content w3-wide" style="max-width:1500px; padding-top:60px;">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Les pistes et leur services</h3>
        <p>Sélectionner une piste pour afficher ses services environnants !</p>
    </div>
    <!-- Map -->
    <div class="w3-display-container w3-content w3-wide" style="max-width:1500px; height: 800px" id="slopesServices">
        <!-- Map Section -->
        {% leaflet_map "slopesServices" callback="main_map_init" %}
        <script type="text/javascript">
            // init map at a certain position and zoom
            function main_map_init(map, options) {
                map.setView([46.211657, 7.481341], 14);
                // display all slopes
                $.getJSON("{% url 'skiSlopesjson' %}", function (data) {
                    L.geoJson(data, {style: function (feature) {return { color: 'grey' };},
                            onEachFeature: onEachFeature,}).addTo(map);})
                function onEachFeature(feature, layer) {
                    if (feature.properties) {
                        layer.bindPopup(feature.properties.name);
                        layer.on('click', () => {window.location.href = '/slopeServices/' + feature.properties.pk;})
                    }}
            }
        </script>
    </div>
</body>